#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @Date    : 2017-04-27 23:25:12
# @Author  : higuoxing@outlook.com

MAX_FILE_SIZE = 10000000
PIC_LENGTH = 1080
PIC_WIDTH = 432
GET_TOKEN_URL = "********"
TIME_OUT = 600
