<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ static_url('css/jquery.mobile-1.4.2.css') }}">
        <title>空闲教室查询</title>
    </head>
    <body>
<style type="text/css">
#menu li {
float:left;
}
</style>
    <div data-role="page">
        <div role="main" class="ui-content">
            <center>
            <div data-role="fieldcontain">
                <form>
                    <fieldset data-role="controlgroup" data-type ="horizontal" data-mini="true">
                            <input type="radio" name="pattern" id="one" {%if (select1=="cur")%} checked="checked"{%end%}>
                            <label for="one">快捷查询</label>
                            <input type="radio" name="pattern" id="two" {%if (select2=="cur")%} checked="checked"{%end%} >
                            <label for="two">指定查询</label>
                    </fieldset>
                </form>
                    <ul id="empty" data-role="listview"  data-inset="true" >
                <form method="post" action="/queryEmptyClassrooms/simple">
                    <li class=" {%if (select1=="")%} ui-screen-hidden {%end%} pattern one">
                    <fieldset data-role="fieldcontain" data-type ="horizontal" >
                    <div class="ui-grid-a">
                    <div class="ui-block-a">
                            <label class="place" for="4" font>校区</label>
                            </div>
                            <div class="ui-block-b">
                            <select name="arg1" id="4" >
                            <option value="jlh" {%if (place=="jlh")%} selected="selected"{%end%}>九龙湖</option>
                            <option value="spl" {%if (place=="spl")%} selected="selected"{%end%}>四牌楼</option>
                            <option value="djq" {%if (place=="djq")%} selected="selected"{%end%}>丁家桥</option>
                        </select>
                        </div>
                        </div>
                    <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label for="5">From</label>
                        </div>
                    <div class="ui-block-b">
                        <select name="arg3" id="5">
                        {%for i in range(1,14)%}
                        <option value={{i}} {%if (int(classBegin)==i)%} selected="selected" {%end%}>{{i}}</option>
                       {%end%}
                        </select>
                        </div>
                        </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <label>To</label>
                        </div>
                        <div class="ui-block-b">
                            <select name="arg4" >
                            {%for i in range(1,14)%}
                            <option value={{i}} {%if (int (classEnd)==i)%} selected="selected" {%end%}>{{i}}</option>
                            {%end%}
                            </select>
                            </div>
                        </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                        <button name="arg2" value="查询今天" class="ui-btn-inline ui-btn ui-corner-all" />查询今天</button>
                        </div>
                        <div class="ui-block-b">
                        <button name="arg2" value="查询明天" class="ui-btn-inline ui-btn ui-corner-all"/>查询明天</button>
                        </div>
                        </div>
                        </fieldset>

                    </li>
                </form>

                <form method="post" action="/queryEmptyClassrooms/complex">
                    <li class="{%if (select2=="")%} ui-screen-hidden {%end%} pattern two">
                    <fieldset data-role="fieldcontain" data-type ="horizontal" data-mini="true">
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <label >周次</label>
                        </div>
                        <div class="ui-block-b">
                            <select name="arg2" >
                            {%for i in range(1,21)%}
                            <option value={{i}} {%if (int(week)==i )%} selected="selected"{%end%}>{{i}}</option>
                            {%end%}
                            </select>
                        </div>
                    </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                        <label>星期</label>
                        </div>
                        <div class="ui-block-b">
                            <select name="arg3" >
                            {%for i in range(1,8)%}
                            <option value={{i}} {%if (int(day)==i )%} selected="selected"{%end%}>{{i}}</option>
                            {%end%}
                            </select>
                        </div>
                    </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                        <label>From</label>
                        </div>
                        <div class="ui-block-b">
                            <select name="arg4" >
                                {%for i in range(1,14)%}
                                <option value={{i}} {%if (int(classBegin)==i)%} selected="selected" {%end%}>{{i}}</option>
                                {%end%}
                            </select>
                        </div>
                    </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                        <label>To</label>
                        </div>
                        <div class="ui-block-b">
                            <select name="arg5" >
                            {%for i in range(1,14)%}
                            <option value={{i}} {%if (int(classEnd)==i)%} selected="selected" {%end%}>{{i}} </option>
                            {%end%}
                            </select>
                        </div>
                        </div>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <label >校区</label>
                        </div>
                        <div class="ui-block-b">
                            <select name="arg1"  >
                            <option value="jlh" {%if (place=="jlh")%} selected="selected"{%end%}>九龙湖</option>
                            <option value="spl" {%if (place=="spl")%} selected="selected"{%end%}>四牌楼</option>
                            <option value="djq" {%if (place=="djq")%} selected="selected"{%end%}>丁家桥</option>
                            </select>
                        </div>
                    </div>
                        <button  class="ui-btn-inline ui-btn ui-corner-all"/>点击查询</button>
                    </fieldset>
                    </li>
                </form>
                        <li>
                            <textarea readonly="readonly">{{emptyroom}}</textarea>
                        </li>
                </ul>
            </div>
            </center>
        </div>
    </div>

    <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/jquery.mobile-1.4.2.min.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("[type=radio]").on('click',function(){
            $('.pattern').addClass("ui-screen-hidden");
            $('.' + this.id).removeClass("ui-screen-hidden");
        });
    });
    </script>
    </body>
</html>